name: Build and Deploy .NET Application

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '9.0' # Actualizado a 9.0 porque tu ruta local indica que usas esa versión

    - name: Restore dependencies
      # Aquí le decimos que entre a las carpetas para encontrar el proyecto
      run: dotnet restore ./Proyecto_despliegue/Proyecto_despliegue

    - name: Build application
      run: dotnet build ./Proyecto_despliegue/Proyecto_despliegue --configuration Release

    - name: Publish application
      run: dotnet publish ./Proyecto_despliegue/Proyecto_despliegue --configuration Release --output ./published

    - name: Deploy to server (Simulacion)
      run: |
        echo "Simulando despliegue..."
        # scp -r ./published username@server:/path/to/deploy
